<!-- views/pages/reservations.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="hold-transition">
    <div>
        <% include ../partials/sidebar %>
        <div class = "content-container">
            <div class = "container-fluid">
                <table id = "reservation_table" class = "table table-bordered">
                    <thead>
                        <tr>
                            <!-- table headings -->
                            <th class="text">Date</th>
                            <th class="text">Start Time</th>
                            <th class="text">End Time</th>
                            <th class="text">Barcode</th>
                            <th class="text">Assigned Spot</th>
                            <th class="text">Charge</th>
                            <th class="text">rID</th>
                            <th class="text">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- take data from Reservations table-->
                        <% if ( reservations != null ) { %>
                            <% reservations.forEach(function(reservation) {  %>
                                <tr value="<%= reservation.rID %>">
                                    <td>
                                        <%= reservation.Date %>
                                    </td>
                                    <td>
                                        <%= reservation.StartTime %>
                                    </td>
                                    <td>
                                        <%= reservation.EndTime %>
                                    </td>
                                    <td>
                                        <%= reservation.Barcode %>
                                    </td>
                                    <td>
                                        <%= reservation.AssignedSpot %>
                                    </td>
                                    <td>
                                        <%= reservation.Charge %>
                                    </td>
                                    <td>
                                        <%= reservation.rID %>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary get-reservation">Update</button>
                                        <a href="/deleteReservation/<%= reservation.rID %>" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" id="add-reservation" data-toggle="modal" data-target="#reservationModal">
                    Add Reservation
                </button>
            </div>
        </div>

        <% include ../partials/footer %>
    </div>
    <% include ../partials/add-reservation%>
<script>
    $(document).ready( function () {
        $('#reservation_table').DataTable(); //from datatables.net
    });

    $('#reservationModal').on('hidden.bs.modal', function() {
        $('#reservationModal form')[0].reset();
    }); //reset form

    $("#add-reservation").click(function (event) {
        $("#rid").removeAttr("readonly");
    })

    $(".get-reservation").click(function (event) {
        event.preventDefault();
        $("#rid").attr("readonly", "readonly");
        
        let rid = $(this).closest('tr').attr('value');
        $.post("/getReservation", {
            "rid" : rid
        },
        function (data, status) {
            let date = (data.data[0].Date).substring(0,10);
            $("#dt").val(date);
            $("#start-time").val(data.data[0].StartTime);
            $("#end-time").val(data.data[0].EndTime);
            $("#barcode").val(data.data[0].Barcode);
            $("#assigned-spot").val(data.data[0].AssignedSpot);
            $("#charge").val(data.data[0].Charge);
            $("#rid").val(rid);
        });
        $("#reservationModal").modal();
    });

    $("#edit-reservation-button").click(function (event) {
        event.preventDefault();
        $.post("/editReservation", {
            "date" : $("#dt").val(),
            "start" : $("#start-time").val(),
            "end" : $("#end-time").val(),
            "barcode" : $("#barcode").val(),
            "spot" : $("#assigned-spot").val(),
            "charge" : $("#charge").val(),
            "rid" : $("#rid").val(),
        },
        function (data, status) {
          if (data.status == "Success") {
            location.reload();
          } else {
            alert("Error editing reservation");
          }
        });
    });
  </script>
</body>
</html>
