<!-- views/pages/customers.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="hold-transition">
    <div>
        <% include ../partials/sidebar %>
        <div class = "content-container">
            <div class = "container-fluid">
                <table id = "customer_table" class = "table table-bordered">
                    <thead>
                        <tr>
                            <!-- table headings -->
                            <th class="text">First Name</th>
                            <th class="text">Last Name</th>
                            <th class="text">Barcode</th>
                            <th class="text">License Number</th>
                            <th class="text">Points</th>
                            <th class="text">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- take data from CustomerInfo table -->
                        <% if ( customers != null ) { %>
                            <% customers.forEach(function(customer) {  %>
                                <tr value="<%= customer.Barcode %>">
                                    <td>
                                        <%= customer.FirstName %>
                                    </td>
                                    <td>
                                        <%= customer.LastName %>
                                    </td>
                                    <td>
                                        <%= customer.Barcode %>
                                    </td>
                                    <td>
                                        <%= customer.LicenseNum %>
                                    </td>
                                    <td>
                                        <%= customer.Points %>
                                    </td>
                                    <td>
                                        <a href="/update/<%= customer.Barcode %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Update</a>
                                        <a href="/deleteCustomer/<%= customer.Barcode %>" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customerModal">
                    Add Customer
                </button>
            </div>
        </div>
        
        <% include ../partials/footer %>
    </div>
    <% include ../partials/add-customer %>
<script>
    $(document).ready( function () {
        $('#customer_table').DataTable(); // from datatables.net
    });

    $('#customerModal').on('hidden.bs.modal', function () {
        $('#customerModal form')[0].reset();
    }); // reset form

    $("#add-customer-button").click(function (event) {
        event.preventDefault();
        $.post("/addCustomer", {
            "first" : $("#first-name").val(),
            "last" : $("#last-name").val(),
            "email" : $("#customer-email").val(),
            "phone" : $("#phone-number").val(),
            "password" : $("#customer-password").val(),
            "barcode" : $("#barcode").val(),
            "license" : $("#license").val(),
            "reg" : $("#registration").val(),
            "cctype" : $("#cc-type").val(),
            "ccnum" : $("#cc-num").val(),
            "ccexp" : $("#cc-exp").val(),
            "cccvv" : $("#cc-cvv").val(),
            "points" : $("#points").val(),
            "handicap" : ($('#handicap').prop('checked')) ? 1 : 0,
        },
        function (data, status) {
            if (data.status == "Success") {
                location.reload();
            } else {
                alert("Error adding customer");
            }
        });
    });
</script>
</body>
</html>